# ======================
# Python
# ======================
.venv/
venv/
__pycache__/
*.py[cod]

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store

# ======================
# Editors / IDEs
# ======================
.vscode/
.idea/

# ======================
# Python build artifacts
# ======================
build/
dist/
*.egg-info/

# ======================
# Testing / coverage
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Databases
# ======================
*.db
*.sqlite
*.sqlite3

# ======================
# Docker runtime data
# ======================
docker-data/

__pycache__/
*.pyc

